---
layout: default
title: Challenges
---
<h1>🚩 Challenges</h1>
<p>Here are some of the challenges that I have written for various events! See if you can try to solve them!</p>

<ul class="posts">
    {% for challenge in site.categories.challenges %}
        <li>
            <div>
                <div>
                    <h3><a href="{{challenge.url | absolute_url}}">{{ challenge.title }}</a></h3>
                    <span>{{ challenge.categories }}</span>
                </div>
                <em>{{ challenge.date | date: "%B %-d, %Y" }}</em>
            </div>
            <div class="tags">

                <strong>Tags: </strong>
        
                {% for tag in challenge.tags %}
                    <span>{{tag}}</span>
                {% endfor %}
        
            </div>
            <p>{{ challenge.excerpt | strip_html | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip | truncate: 196 }}</p>
        </li>
    {% endfor %}
</ul>