@media screen and (max-width: 768px) {
    footer {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) {
    footer {
        width: calc(100% - $page-margin);
        margin-left: $page-margin;
    }
}

footer {
    text-align: center;
    padding: 2rem 0;
    border-top: red 2px solid;
    margin-top: 5rem;

    img {
        display: inline;
        margin-left: 0.5rem;
    }
}