---
---

html,
body{
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: white;

    h1 {
        font-size: xx-large;
    }

    h2 {
        font-size: x-large;
    }

    h3 {
        font-size: larger;
    }
    
    p {
        font-size: large;
    }
}

$nav-width: 12rem;
$nav-padding: 2rem;
$page-margin: $nav-width;

@media screen and (max-width: 768px){
    main {
        padding: 0 4%;
        width: 92%;
        margin-left: 0;
        min-height: 78vh;
    }
}

@media screen and (min-width: 768px) {
    main {
        padding: 0 5%;
        width: calc(100% - $page-margin);
        margin-left: $page-margin;
        min-height: 72vh;
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding: 2rem 10%;
    }
}

@media screen and (min-width: 1440px) {
    main {
        padding: 2rem 15%;
    }
}


main {
    overflow-wrap: break-word;
}

img.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #FF0000;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline #FF0000 2px;
}

code {
    background-color: grey;
    display: block;
    padding: 1rem;
    border-radius: 0.3rem;
}

img.contacts {
    display: inline;
}

@import 'footer', 'nav', 'post';