---
---

html,
body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

$nav-width: 12rem;
$nav-padding: 2rem;

main {
    overflow-wrap: break-word;
    width: calc(100% - $nav-width);
    margin-left: $nav-width;
    padding: 2rem 10%;
}

.underline {
    text-decoration: underline;
}

@import 'assets/styles/nav';