---
---
html,
body{
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: white;

    h1, h2, h3 {
        text-decoration: underline red 0.25rem;
    }

    h1 {
        font-size: xx-large;
    }

    h2 {
        font-size: x-large;
    }

    h3 {
        font-size: larger;
    }
    
    p {
        font-size: large;
    }
}

$nav-width: 12rem;
$nav-padding: 2rem;
$page-margin: $nav-width;

@media screen and (max-width: 768px){
    main {
        padding: 0 4%;
        width: 92%;
        margin-left: 0;
        min-height: 78vh;
    }
}

@media screen and (min-width: 768px) {
    main {
        padding: 0 5%;
        width: calc(100% - $page-margin);
        margin-left: $page-margin;
        min-height: 72vh;
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding: 2rem 10%;
    }
}

@media screen and (min-width: 1440px) {
    main {
        padding: 2rem 15%;
    }
}

main {
    overflow-wrap: break-word;
}

img.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #FF0000;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline #FF0000 2px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
code::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
code {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: block;
    background: #302f2f;
    color: rgb(203, 203, 203);
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 1rem;
    border-radius: 0.5rem;
}

img.contacts {
    display: inline;
}

// Allow for inline snippets
code.language-plaintext {
    display: inline;
    padding: 0.25rem;
    font-size: medium;
}

@import 'footer', 'nav', 'post';