@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    body > svg {
        display: block;
        float: right;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 768px) {
    nav {
        display: block;
    }
}

nav {
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: $nav-width;

    ul {
        font-size: x-large;
        list-style: none;
        margin: 0;
        padding: 0;

        li > a {
            display: block;
            text-decoration: none;
            color: white;
            width: calc(100% - 2 * $nav-padding);
            padding: 1rem $nav-padding;
        }

        a > img {
            padding: 0 $nav-padding;
            width: $nav-width - 2 * $nav-padding;
        }

        li > a:hover {
            text-decoration: underline;
            text-decoration-color: #FF0000;
        }
    }
}