article > h1 {
    margin: 1rem 0;
}

ul.posts {
    list-style: none;
    padding: 0;
}

ul.posts > li {
    // border: 0.2rem solid white;
    border-radius: 0.5rem;
    padding: 2rem 2rem 0 2rem;
    margin: 2rem 10%;
    min-height: 8rem;
    background-color: #333333;
    box-shadow: 3px 3px transparentize(#000000, 0.75), -3px 3px transparentize(#000000, 0.75), 3px -3px transparentize(#000000, 0.75), -3px -3px transparentize(#000000, 0.75);

    div {

        div {
            display: inline;

            h3 {
                display: inline;
                margin-right: 0.5rem;

                a {
                    text-decoration: none;
                }
            }

            span {
                background-color: #FF0000;
                padding: 0.3rem;
                margin: 2rem 0;
                border-radius: 0.5rem;

                a {
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }

        em {
            float: right;
        }
    }
}

ul.posts > li:hover {
    box-shadow: 6px 6px inset transparentize(#000000, 0.75), -6px 6px inset transparentize(#000000, 0.75), 6px -6px inset transparentize(#000000, 0.75), -6px -6px inset transparentize(#000000, 0.75);

    a {
        text-decoration: underline #FF0000 2px;
    }
}

.tags {
    margin: 1rem 0;
    span {
        background-color: #FF0000;
        padding: 0.3rem;
        margin: 2rem 0.25rem;
        border-radius: 0.5rem;
        font-size: small;
    }
}
